<!-- Our team Section -->
<section id="team" class="team content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Nuestro Equipo</h2>
        <h3 class="caption gray">Encuentra la persona adecuada a tus necesidades</h3>
      </div><!-- /.col-md-12 -->

      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="assets/images/lauren-cox.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>Lorem ipsum dolor sit amet, consectetur elit. Recusandae asperiores mollitia.</p>
                  <ul>
                    <li><a href="http://"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="http://"><i class="fa fa-envelope-o fa-2x"></i></a></li>
                    <!--<li><a href="http://"><i class="fa fa-linkedin fa-2x"></i></a></li>-->
                  </ul>
                </figcaption>
              </figure>
              <h4>Lauren Cox</h4>
              <p>Director de Diseño</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="assets/images/jessie-barnett.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>Neque minima ea, a  saepe nihil maxime quod esse numquam explicabo eligendi.</p>
                  <ul>
                    <li><a href="http://"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="http://"><i class="fa fa-envelope fa-2x"></i></a></li>
                    <!--<li><a href="http://"><i class="fa fa-linkedin fa-2x"></i></a></li>-->
                  </ul>
                </figcaption>
              </figure>
              <h4>Jessie Barnett</h4>
              <p>Arquitecto</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>Temporibus dolor, quisquam molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                  <ul>
                    <li><a href="http://"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="http://"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="http://"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Terry Fletcher</h4>
              <p>Interiorismo</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->


          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="assets/images/lauren-cox.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>Lorem ipsum dolor sit amet, adipisicing elit. Recusandae asperiores mollitia.</p>
                  <ul>
                    <li><a href="http://"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="http://"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="http://"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Lauren Cox</h4>
              <p>Director Creativo</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="assets/images/jessie-barnett.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>Neque minima ea, a saepe nihil maxime quod esse numquam explicabo eligendi.</p>
                  <ul>
                    <li><a href="http://"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="http://"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="http://"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Jessie Barnett</h4>
              <p>Ingeniero Civil</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>Temporibus dolor, quisquam molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                  <ul>
                    <li><a href="http://"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="http://"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="http://"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Terry Fletcher</h4>
              <p>Arquitecto</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.our-team -->
