<!-- Our team Section -->
<section id="team" class="team content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Nuestro Equipo</h2>
        <h3 class="caption negro">0<sup>2</sup> ARQUITECTURA  SOSTENIBLE  es una empresa formada por un equipo de arquitectos dedicados al DISEÑO SOSTENIBLE, COMPROMETIDO e INNOVADOR.</h3>
      </div><!-- /.col-md-12 -->

      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="assets/images/team/jorge-diaz.jpg" alt="" class="img-responsive">
                <figcaption>
                  <h4>ARQUITECTO, M.Sc.</h4>
                  <ul>
                    <li><i class="fa fa-mobile-phone fa-3x"></i></li>
                    <li><h4 class="white">76627733</h4></li>
                  </ul>
                  <ul>
                    <li><a href="mailto:jorgediaz@o2arquitecturasostenible.com"><i class="fa fa-envelope fa-2x"></i></a></li>
                    <li><a href="mailto:jorgediaz@o2arquitecturasostenible.com">Enviar e-mail</a></li>
                  </ul>
                  <ul>
                    <li><a href="http://"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <!--<li><a href="http://"><i class="fa fa-linkedin fa-2x"></i></a></li>-->
                  </ul>
                </figcaption>
              </figure>
              <h4>Jorge Alberto Diaz</h4>
              <p class="negro">Gerente</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="assets/images/team/dayana-garnica.jpg" alt="" class="img-responsive">
                <figcaption>
                  <h4>ARQUITECTO B.Sc.</h4>
                  <!--<p>Neque minima ea, a quam explicabo eligendi.</p>-->
                  <ul>
                    <li><i class="fa fa-mobile-phone fa-3x"></i></li>
                    <li><h4 class="white">76849282</h4></li>
                  </ul>
                  <ul>
                    <li><a href="mailto:dayanagarnica@o2arquitecturasostenible.com"><i class="fa fa-envelope fa-2x"></i></a></li>
                    <li><a href="mailto:dayanagarnica@o2arquitecturasostenible.com">Enviar e-mail</a></li>
                  </ul>
                  <ul>
                    <li><a href="http://"><i class="fa fa-facebook fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Dayana Garnica Estrella </h4>
              <p class="negro">Dpto. de Proyectos y Control de Obras</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="assets/images/team/silvia-fiorot.jpg" alt="" class="img-responsive">
                <figcaption>
                  <h4>ARQUITECTO B.Sc.</h4>
                  <ul>
                    <li><i class="fa fa-mobile-phone fa-3x"></i></li>
                    <li><h4 class="white">75667737</h4></li>
                  </ul>
                  <ul>
                    <li><a href="mailto:silviafiorot@o2arquitecturasostenible.com"><i class="fa fa-envelope fa-2x"></i></a></li>
                    <li><a href="mailto:silviafiorot@o2arquitecturasostenible.com">Enviar e-mail</a></li>
                  </ul>
                  <ul>
                    <li><a href="http://"><i class="fa fa-facebook fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Silvia Evelyn Fiorot</h4>
              <p class="negro">Dpto. de Proyectos</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
        <div class="row">

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="assets/images/team/grecia-serrano.jpg" alt="" class="img-responsive">
                <figcaption>
                  <h4>ARQUITECTO, B.Sc.</h4>
                  <ul>
                    <li><i class="fa fa-mobile-phone fa-3x"></i></li>
                    <li><h4 class="white">78089821</h4></li>
                  </ul>
                  <ul>
                    <li><a href="mailto:greciaserrano@o2arquitecturasostenible.com"><i class="fa fa-envelope fa-2x"></i></a></li>
                    <li><a href="mailto:greciaserrano@o2arquitecturasostenible.com">Enviar e-mail</a></li>
                  </ul>
                  <ul>
                    <li><a href="http://"><i class="fa fa-facebook fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Grecia Serrano Gutiérrez</h4>
              <p class="negro">Dpto. de Proyectos y Control de Obras</p>
            </div><!-- /.team-member -->
          </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.our-team -->
