<!-- Services Section -->
<section id="services" class="services content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Nuestros Servicios</h2>
        <h3 class="caption negro">Nuestra empresa ofrece diferentes servicios adaptándose a las necesidades de nuestros clientes, ofreciendo soluciones integrales.</h3>
      </div><!-- /.col-md-12 -->

      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-pencil-square-o fa-3x"></i>
              <h4>Diseño y construcción</h4>
              <p>Diseño y construcción se enfoca en combinar el diseño, permiso y programas de construcción con el fin de simplificar el ambiente del diseño tradicional, licitación y construcción.</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-building fa-3x"></i> <!-- fa-money-->
              <h4>Mantenimientos</h4>
              <p>El mantenimiento de edificios debe asegurar el <b>confort</b> de los usuarios y la <b>fiabilidad</b> de todas sus instalaciones, incrementando el <b>valor</b> de los bienes inmuebles de sus clientes.</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-building-o fa-3x"></i>
              <h4>Impermeabilización</h4>
              <p>Son empleados en el aislamiento de cimentaciones, tejados, lajas, paredes, depósitos y piscinas.<br><br><br></p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
