<!-- Services Section -->
<section id="services" class="services content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Nuestros Servicios</h2>
        <h3 class="caption gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, similique vel vitae? Dolor, veniam!</h3>
      </div><!-- /.col-md-12 -->

      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-pencil-square-o fa-3x"></i>
              <h4>Diseño</h4>
              <p>Lorem ipsum dolor sit amet. Soluta ullam! Aperiam dolorem quaerat quos similique.</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-money fa-3x"></i>
              <h4>Presupuestos</h4>
              <p>Lorem ipsum dolor sit amet. Soluta ullam! Aperiam dolorem quaerat quos similique.</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-building-o fa-3x"></i>
              <h4>Construcción</h4>
              <p>Lorem ipsum dolor sit amet. Soluta ullam! Aperiam dolorem quaerat quos similique.</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-calculator fa-3x"></i>
              <h4>Avaluos</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-check-square-o fa-3x"></i>
              <h4>Dirección de Obra</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="row services-item sans-shadow text-center">
              <i class="fa fa-question fa-3x"></i>
              <h4>Otros</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div><!-- /.row -->
          </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
