<header id="intro-carousel" class="carousel slide">
  <!-- Optional Indicators -->
  <!--<ol class="carousel-indicators">-->
    <!--<li data-target="#intro-carousel" data-slide-to="0" class="active"></li>-->
    <!--<li data-target="#intro-carousel" data-slide-to="1"></li>-->
    <!--<li data-target="#intro-carousel" data-slide-to="2"></li>-->
  <!--</ol>-->
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('assets/images/f01ba.jpg');"></div>
      <div class="carousel-caption">
        <h1 class="animated slideInDown">Complejo Residencial <span class="highlight">ALICANTO&reg;</span></h1>
        <p class="intro-text animated slideInUp">Primer proyecto diseñado y orientado a la certificación LEED Certified&reg; for Homes (para viviendas) en latinoamérica.</p>
        <a href="http://" class="btn btn-default btn-lg">Información</a>
      </div>
      <div class="overlay-detail"></div>
    </div><!-- /.item -->

    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('assets/images/004.jpg');"></div>
      <div class="carousel-caption">
        <h1 class="animated slideInDown"><span class="highlight">LEED CERTIFIED&reg;</span>  ahorro energético</h1>
        <p class="intro-text animated slideInUp">Proyecto de viviendas unifamiliares piloto para Latinoamérica de ARQUITECTURA VERDE.</p>
        <a href="http://" class="btn btn-default btn-lg">Información</a>
      </div>
      <div class="overlay-detail"></div>
    </div><!-- /.item -->

    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('assets/images/013.jpg');"></div>
      <div class="carousel-caption">
        <h1 class="animated slideInDown">Piloto para <span class="highlight">Latinoamérica</span></h1>
        <p class="intro-text animated slideInUp">Proyecto que busca reducir el impacto ambiental y aporte de O<sup>2</sup> mediante la propuesta de jardines verticales y materiales ecológicos.</p>
        <a href="http://" class="btn btn-default btn-lg">Información</a>
      </div>
      <div class="overlay-detail"></div>
    </div><!-- /.item -->

  </div>
  <!-- Controls -->
  <a class="left carousel-control squared" href="#intro-carousel" data-slide="prev">
    <i class="fa fa-angle-left fa-2x"></i>
  </a>
  <a class="right carousel-control squared" href="#intro-carousel" data-slide="next">
    <i class="fa fa-angle-right fa-2x"></i>
  </a>
  <div class="mouse"></div>
</header>
