<!-- About Section -->
<section id="about" class="about content-section alt-bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>O<sup>2</sup> Arquitectura Sostenible</h2>
        <p class="negro">Después de 26 AÑOS de experiencia en la rama de la construcción, nace este nuevo estudio de arquitectura y construcción sostenible, en el año 2016.</p>
        <p class="negro">Somos un equipo de trabajo interdisciplinario que comparte un mismo enfoque y visión de la relación que hay entre arquitectura y naturaleza, conscientes de que debemos cuidar nuestro medioambiente y relacionarnos más con él.</p>
        <blockquote>
          <h2>Misión</h2>
          <p>Buscamos crear espacios íntegros, completos, autónomos y sostenibles y otorgar un estilo de vida diferente, consciente con el medioambiente, brindando confort a las personas con nuestros diseños innovadores y creativos.</p>
        </blockquote>
        <blockquote>
          <h2>Visión</h2>
          <p>Con nuestros proyectos, queremos lograr un equilibrio entre nuestro entorno, funcionalidad, estética, sostenibilidad y necesidades de nuestros clientes, generando marca e inspirando cambios en el mundo.</p>
        </blockquote>

      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
        <!-- Display image -->
        <!-- <img src="assets/images/hallooou_template-iphone_sm.png" class="img-responsive"> -->
        <!-- Optional video embed code -->
        <div class="embed-responsive embed-responsive-16by9">
          <!--<iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
          <video src="assets/videos/alicanto-001.mp4" controls>
            Tu navegador no implementa el elemento <code>video</code>.
          </video>
        </div>

      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
