<!-- About Section -->
<section id="about" class="about content-section alt-bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>O<sup>2</sup> Arquitectura Sostenible</h2>
        <h3 class="caption gray">100+ clientes satisfechos con nuestros servicios</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda autem corporis cum dolores ducimus esse, et, nemo, odit officia quo reiciendis rem tempora. Adipisci in natus obcaecati vel velit.</p>

        <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae cum, dignissimos dolor eligendi et harum laborum minima necessitatibus numquam odit, officia officiis repellat repudiandae sequi sint suscipit ut voluptate?.
          <span>Gerente General</span>
        </blockquote>

        <h3 class="gray light">Over the past 11 years we've worked with some amazing small businesses, non-profits, academic institutions and even Fortune 100 companies.</h3>

      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
        <!-- Display image -->
        <!-- <img src="assets/images/hallooou_template-iphone_sm.png" class="img-responsive"> -->
        <!-- Optional video embed code -->
        <div class="embed-responsive embed-responsive-16by9">
          <!--<iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
          <video src="assets/videos/alicanto-001.mp4" controls>
            Tu navegador no implementa el elemento <code>video</code>.
          </video>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
          <!--<iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
          <video src="assets/videos/alicanto-001.mp4" controls>
            Tu navegador no implementa el elemento <code>video</code>.
          </video>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
          <!--<iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
          <video src="assets/videos/alicanto-001.mp4" controls>
            Tu navegador no implementa el elemento <code>video</code>.
          </video>
        </div>
        <h3>Mas videos...</h3>
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
