<!-- Portfolio/Gallery Section -->
<section id="portfolio" class="portfolio content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Nuestros últimos trabajos</h2>
        <h3 class="caption white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad delectus eligendi et hic magnam nam necessitatibus nemo officia pariatur, quis quos, reprehenderit sapiente. Est et in nesciunt, possimus ut vel! </h3>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container project-container text-center">
    <div class="recent-project-carousel owl-carousel owl-theme popup-gallery">

      <div class="item recent-project">
        <img src="assets/images/gallery/009.jpg" alt="">
        <div class="project-info">
          <h3>Proyecto 01</h3>
          <ul class="project-meta">
            <li><a href="http://">Diseño</a></li>
          </ul>
        </div><!-- /.project-info -->
        <div class="full-project">
          <a href="http://" title="Proyecto 01. | Diseño">Ver proyecto <i class="fa fa-chevron-right"></i></a>
        </div><!-- /.full-project -->
      </div><!-- /.item -->
      <div class="item recent-project">
        <img src="assets/images/gallery/002.jpg" alt="">
        <div class="project-info">
          <h3>Proyecto 02</h3>
          <ul class="project-meta">
            <li><a href="http://">Diseño</a></li>
          </ul>
        </div><!-- /.project-info -->
        <div class="full-project">
          <a href="http://" title="Proyecto 02. | Diseño">Ver proyecto <i class="fa fa-chevron-right"></i></a>
        </div><!-- /.full-project -->
      </div><!-- /.item -->
      <div class="item recent-project">
        <img src="assets/images/gallery/010.jpg" alt="">
        <div class="project-info">
          <h3>Proyecto 03</h3>
          <ul class="project-meta">
            <li><a href="http://">Construcción</a></li>
          </ul>
        </div><!-- /.project-info -->
        <div class="full-project">
          <a href="http://" title="Proyecto 03. | Diseño">Ver proyecto <i class="fa fa-chevron-right"></i></a>
        </div><!-- /.full-project -->
      </div><!-- /.item -->
      <div class="item recent-project">
        <img src="assets/images/gallery/002.jpg" alt="">
        <div class="project-info">
          <h3>Proyecto 01</h3>
          <ul class="project-meta">
            <li><a href="#">Diseño</a></li>
          </ul>
        </div><!-- /.project-info -->
        <div class="full-project">
          <a href="http://" title="Proyecto 01. | Diseño">Ver proyecto <i class="fa fa-chevron-right"></i></a>
        </div><!-- /.full-project -->
      </div><!-- /.item -->
      <div class="item recent-project">
        <img src="assets/images/gallery/002.jpg" alt="">
        <div class="project-info">
          <h3>Proyecto 01</h3>
          <ul class="project-meta">
            <li><a href="#">Diseño</a></li>
          </ul>
        </div><!-- /.project-info -->
        <div class="full-project">
          <a href="http://" title="Proyecto 01. | Diseño">Ver proyecto <i class="fa fa-chevron-right"></i></a>
        </div><!-- /.full-project -->
      </div><!-- /.item -->
      <div class="item recent-project">
        <img src="assets/images/gallery/002.jpg" alt="">
        <div class="project-info">
          <h3>Proyecto 01</h3>
          <ul class="project-meta">
            <li><a href="#">Diseño</a></li>
          </ul>
        </div><!-- /.project-info -->
        <div class="full-project">
          <a href="http://" title="Proyecto 01. | Diseño">Ver proyecto <i class="fa fa-chevron-right"></i></a>
        </div><!-- /.full-project -->
      </div><!-- /.item -->
      <div class="item recent-project">
        <img src="assets/images/gallery/002.jpg" alt="">
        <div class="project-info">
          <h3>Proyecto 01</h3>
          <ul class="project-meta">
            <li><a href="#">Diseño</a></li>
          </ul>
        </div><!-- /.project-info -->
        <div class="full-project">
          <a href="http://" title="Proyecto 01. | Diseño">Ver proyecto <i class="fa fa-chevron-right"></i></a>
        </div><!-- /.full-project -->
      </div><!-- /.item -->
      <div class="item recent-project">
        <img src="assets/images/gallery/002.jpg" alt="">
        <div class="project-info">
          <h3>Proyecto 01</h3>
          <ul class="project-meta">
            <li><a href="#">Diseño</a></li>
          </ul>
        </div><!-- /.project-info -->
        <div class="full-project">
          <a href="http://" title="Proyecto 01. | Diseño">Ver proyecto <i class="fa fa-chevron-right"></i></a>
        </div><!-- /.full-project -->
      </div><!-- /.item -->


    </div><!-- /.recent-project-carousel -->

    <div class="customNavigation project-navigation text-center">
      <a class="btn-prev"><i class="fa fa-angle-left fa-2x"></i></a>
      <a class="btn-next"><i class="fa fa-angle-right fa-2x"></i></a>
    </div><!-- /.project-navigation -->

  </div><!-- /.container -->
</section><!-- /.portfolio -->
