<!-- Footer -->
<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 segment">
          <h2 class="highlight">Contáctanos</h2>
        <p class="white">Para comunicarte con nosotros, escríbenos directamente al mail:</p>
        <a href="mailto:info@o2arquitecturasostenible.com">info@o2arquitecturasostenible.com</a>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

    <div class="row text-center">
      <div class="col-md-12 social segment">

        <h4 class="highlight">Nuestra Oficina en Santa Cruz</h4>
        <p><b>Dirección: </b>Zona Equipetrol, Calle Laplata 8 Este, entre Av. San Martín y Canal Isuto </p>
        <i class="fa fa-phone fa-2x"></i><b class="fa-lg">  3-256080</b>
        <br>
        <i class="fa fa-whatsapp fa-2x"></i><b class="fa-lg">  76627733 - 75667737 –76849282 - 78089821</b>
        <br>
        <a href="https://www.facebook.com/O2-Arquitectura-Sostenible-1884876225158007/" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

  </div><!-- /.container -->

  <div class="copynote">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          &copy; 2018. O<sup>2</sup>. All rights reserved.
        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.copynote -->

  <div class="nav pull-right scroll-top">
    <a href="#home" title="Scroll to top"><i class="fa fa-angle-up"></i></a>
  </div>

</footer><!-- /.footer -->
