<!-- Footer -->
<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 segment">
        <a href="#" title="o2 Arquitectura Sostenible">
          <h2>
            <!-- replace with your brand logo/text -->
            <img src="assets/images/logo-o2B.svg" onerror="this.src='assets/images/logo.png'; this.onerror=null;" alt="o2 Arquitectura Sostenible" title="o2 Arquitectura Sostenible" class="img-responsive">
          </h2>
        </a>
        <p class="white">We believe in Simple, Creative &amp; Flexible Design Standards.</p>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

    <div class="row text-center">
      <div class="col-md-12 social segment">
        <h4>Mantengase en contacto...</h4>
        <a href="http://"><i class="fa fa-facebook fa-3x"></i></a>
        <a href="http://"><i class="fa fa-twitter fa-3x"></i></a>
        <a href="http://"><i class="fa fa-linkedin fa-3x"></i></a>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

  </div><!-- /.container -->

  <div class="copynote">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          &copy; 2018. O<sup>2</sup>. All rights reserved.
        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.copynote -->

  <div class="nav pull-right scroll-top">
    <a href="#home" title="Scroll to top"><i class="fa fa-angle-up"></i></a>
  </div>

</footer><!-- /.footer -->
